body {
    background-color: white;
    width: 100%;
}

.cover {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-family: 'Spectral', serif;
    color: black;
    font-size: 4em;
    text-align: center;
    margin-top: 40px;
}

.title {
    margin: auto;
    text-align: center;
    max-width: 50em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
}

article {
    max-width: 35em;
    margin: auto;
    font-kerning: normal;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

img {
    max-width: 35em;
}

p {
    font-family: "Raleway", sans-serif;
}